header {
    padding: 20px 95px 20px 90px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.btn-verde {
    background-color: #27ae60;
}

.btn-verde:hover {
    background-color: #28a745;
}

.lista-carros {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.carro {
    width: 350px;
    margin: 10px;
    padding: 10px 10px 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.carro img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

button {
    color: #fff;
    padding: 10px 20px;
    border-width: 0px;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.btn-azul {
    background-color: #3498db;
}

.btn-azul:hover {
    background-color: #2980b9;
}

.btn-vermelho {
    background-color: #e74c3c
}

.btn-vermelho:hover {
    background-color: #c0392b;
}

.formulario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input, select {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #EEEEEE;
}

.formulario input {
    width: 100%;
}

.botoes-opcao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmacao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}